.cardapio{
    font-family: 'Montserrat', sans-serif;
    & header{
        padding: 0 2.5rem;
    }

    & main{
        padding: 0 2.5rem;
        & h1{
            text-align: center;
            text-transform: uppercase;
            color: #DA2828;
            font-weight: 400;
            margin: 0;
            margin-top: 2rem;
        }

        & .filtro{
            display: flex;
            align-items: center;

            & p{
                margin: 0 .5rem;
            }

            & ul{
                display: flex;
                list-style: none;
                padding: 0;
                flex-wrap: wrap;
            }
            & li{
                color: #DA2828;
                border: 1px solid #DA2828;
                padding: .3rem .5rem;
                border-radius: 5px;
                margin: .5rem 0;
                margin-right: 1rem;

                &:last-child{
                    margin-right: 0;
                }
            }
        }
    .cardapioLista{
        display: flex;
        align-items: center;
        & ul{
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            box-sizing: border-box;
            padding-left: 0;
        }
    }
    }
}

.li{
    min-width: 18%;
}

@media (max-width: 475px) {
    .li{
        width: 100%;
    }
}