.carrinho{
    position: fixed;
    right: 2.5rem;
    top: 1.5rem;
    background-color: #FFF;
    border:1px solid #DA2828 ;
    padding: 1rem;
    border-radius: 5px;
    min-width: 20%;
    display: flex;
    flex-direction: column;

    &_close{
        position: absolute;
        right: .5rem;
        top: .5rem;
        color: #DA2828;
        background-color: transparent;
        border: 0;
        outline: 0;
        cursor: pointer;
    }

    &_titulo{
        text-transform: uppercase;
        color: #DA2828;
        font-weight: 700;
        font-size: 1.5rem;
        border-bottom: 1px solid #DA2828 ;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_lista{
        list-style: none;
        padding-left: 0;
    }

    &_valor{
        & span{
            color: #DA2828;
            font-weight: 700;
            margin-right: .5rem;
        }
    }

    &_comprar{
        color: #DA2828;
        background-color: transparent;
        border: none;
        outline: none;
        border: 1px solid #DA2828;
        font-weight: 700;
        text-align: center;
        padding: .5rem 1rem;
        border-radius: 5px;
    }

    &_sacolaVazia{
        text-align: center;
        color: #DA2828;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.hide{
    display: none;
}